
<div class="join-landing-bg">
  
   <div class="join-home-container">
        <div class="join-home-info">

            <h1>Mantén a tus clientes felices <br> y tu negocio creciendo</h1>

            <p>La manera maravillosamente simple de fortalecer la comunicación con tus clientes,
            <br>agilizar las tareas diarias y aumentar los ingresos de tu negocio</p>

            <a class="waves-effect waves-light btn" href="#modal1" >Mira como funciona</a>
        
        </div>
    </div>

</div>

<div class="join-info">

  <div class="container">
    

  </div>
  

</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <iframe src="https://player.vimeo.com/video/200873698" id="nofocusvideo" width="100%" height="346" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<script type="text/javascript">
  

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

</script>